@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;   
    background: linear-gradient(90deg, #131415 35%, #6f7784 10%);
    font-family: "Audiowide", sans-serif;
   
    
}

@keyframes slideDrawer {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
  
    50% {
        opacity: 0.5;
       
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}

.slideDrawer {
    animation: slideDrawer 0.5s ease-in-out;
}


a {
    text-decoration: none;
    color: white;
    font-size: 20px;
 
    padding: 10px 20px;
    border-radius: 5px;
  
}

.burger {
    display: none;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #131415;
    color: white;
    font-family: "Audiowide", sans-serif;
}

section {
    display: none;
}

section.active {
    display: block;
}

#mobile-drawer {
    display: none;
}

#mobile-drawer.active {
 display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 30%;
    
   
    background-color: #131415;
}

header a:hover {
 background-color: aquamarine !important;
 box-shadow: 0px 0px 5px rgb(229, 229, 229);
}

@media  screen and (max-width:500px) {
     header {
        display: flex;
        justify-content: center;
        align-items: center;
      
        background-color: #131415;
        color: white;
        font-family: "Audiowide", sans-serif;
        
     }  
    
    .nav-links {
           display: none;
       }
      

       .burger{
          display: flex;
              justify-content: center;
              cursor: pointer;
       }

      .nav-links-mobile{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
    
          
      }

      #mobile-drawer a {
            
            font-size: 20px;
            padding: 5px 10px;
        }

        

}