
button {
  display: none;
}
header {

  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 1;
  display: flex;
  



}

#icon-name-container {
  display: flex;
  color: yellow;
  justify-content: center;
  align-items: center;
  gap: 10px;
 
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#icon-name-container h1{
 font-size: 30px ;
}

.nav-open {
  z-index: 1;

}

.nav-closed {

  z-index: 0;
  transition: z-index 2.5s;
}

.overflow-hidden {
  overflow: hidden;
}

@media screen and (min-width: 1017px) {
  .nav {
    display: flex;
    flex-direction: column;

    width: 50%;
    height: 10vh;
    background-color: transparent;

  }

  .nav[isOpen='false'] {
    height: 10vh;
    background-color: transparent;
    transition: height 0.5s;
   
  }

  ul {
    display: flex !important;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
    visibility: visible !important;


    padding-bottom: 10px;
    padding-top: 10px;

    color: white;

  }

  li {
    opacity: 1 !important;
    height: 70%;
    width: 30%;
    transform: translateX(0) !important;


  }
}

.container-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background: rgba(24, 23, 23, 0.5);
  

}



@media (min-width: 250px) and (max-width: 1016px) {
  #icon-name-container {
    display: none;
  
  }

  header {
    background-color: transparent;
    backdrop-filter: blur(0px);
    display: block;
  }

  ul {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 50px;
    list-style: none;
   
   
  }
  

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 100vh;
    background: #fff;
   

  }

  header button {
    display: block;
    outline: none;
    border: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
  }

  li {
    padding: 20px;
  }
}