#contact button {
    display: block;
}

#contact-button {
    
    top: 0;
}

#contact {
  
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
   gap: 10px;
}



