
html, body { 
  background: linear-gradient(90deg, #0f0c29, #302b63, #24243e, #1b1b2f, #0d0d22);
 height: 100%;
  margin: 0;
  padding: 0;
 


}
a {
  text-decoration: none;
}

html {
scroll-behavior: smooth;
}

/* html {
  background-color: #6464c2;
    overflow: hidden;
  height: 100%;
}
 */
/* html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
} */


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
 
}




:root {
  height: 100%;
  width: 100%;
  
  overscroll-behavior: none;
}